#navbar1{
    background-color: rgb(214, 165, 169);
    min-width: 250px;
    min-height: 740px;
}

#wrapper{
    display: flex;
    align-items: stretch;
}

.hidden{
    display: none
}

.shown{
    display: block;
}

#myChart{
    width: 875px;
    height: 450px;
    background-color:rgb(222, 248, 205);
}

#lastMonth{
    background-color: red;
}
